<div>
  <form [formGroup]="forms" (ngSubmit)="onSubmitForm()" class="row wrapper">
    <section class="col-3 col-2-md col-2-lg">
      <h1 class="app-title">{{ title }}</h1>
      <app-navbar
        (tabEvent)="listenChildTabEvent($event)"
        [tab]="tab"
        [categories]="categories"
        [forms]="forms"
      ></app-navbar>
    </section>
    <section class="col-9 col-10-md col-10-lg">
      <div [ngSwitch]="tab" class="main-wrapper">
        <app-main
          *ngSwitchCase="tab"
          (itemEvent)="listenChildEvent($event)"
          (minusEvent)="listenMinusEvent($event)"
          [items]="categories[tab]?.recipes"
          [title]="categories[tab]?.title"
          [forms]="forms"
        ></app-main>
      </div>
      <div class="order-wrapper">
        <app-order [price]="price"></app-order>
      </div>
    </section>
  </form>
  <div *ngIf="showForm" class="offuscator">
    <div class="dialog-container is-vertical-align">
      <div class="card">
        <header>
          <h4>Summary</h4>
        </header>
        <div class="dialog-list">
          <div *ngFor="let article of cart" class="dialog-item"><b>{{ article.quantity }}</b> - {{ article.name }}</div>
        </div>
        <div class="dialog-total">
          <hr>
          <b>Total</b>
          <div class="price-dialog">{{ price | stripToCurrency | currency:'CHF ':'symbol':'1.2-2' }}</div>
        </div>
        <footer class="is-right">
          <a (click)="handleDialogCancel()" class="button">Cancel</a>
          <a (click)="handleDialogClose()" class="button primary">Submit</a>
        </footer>
      </div>
    </div>
  </div>
</div>
