<div
  (click)="emitEvent()"
>
  <div>
    <img height="200" width="350" [src]="item.imageUrl | imageUrl" alt="placeholder">
  </div>
  <div>{{ item.title }}</div>
  <div>{{ item.description }}</div>
  <div class="{{ item.price | color }}">
    {{
      item.price |
      stripToCurrency |
      currency:'CHF ':'symbol':'1.2-2'
    }}
  </div>
  <div *ngIf="forms.value | quantity : item.title">
    <div (click)="handleMinusClick($event)">
      <span>
        <img height="24" width="24" src="https://icongr.am/feather/minus-circle.svg?size=128&color=currentColor" alt="minus">
      </span>
    </div>
    <div>{{ forms.value | quantity : item.title }}</div>
    <div>
      <span>
        <img height="24" width="24" src="https://icongr.am/feather/plus-circle.svg?size=128&color=currentColor" alt="plus">
      </span>
    </div>
  </div>
  <div [hidden]="true" [routerLink]="['/detail',item.uuid]">Details</div>
</div>
