<div class="row item-wrapper">
  <h2 class="col-12 title">{{ title }} <button class="button error is-right" (click)="handleQuit()">Quit</button></h2>
  <span
    class="col-4 col-12-xs col-3-md col-2-lg item item-container"
    *ngFor="let item of items"
    [class]="{
    active: forms.value.items | objectContains : item.title
  }"
  >
    <app-item
      (itemEvent)="listenChildEvent($event)"
      (minusEvent)="listenMinusEvent($event)"
      [item]="item"
      [forms]="forms"
    ></app-item>
  </span>
</div>
